<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="productDetails">
        <div class="container py-5">
            <div class="row mx-0">
                <div class="col-lg-6">
                    <a href="#"> 
                        <img width="1200" height="1200" src="download.jpg" class="img-fluid productImg" alt="Product Image">
                    </a>
                    <img src="download.png" class="img-position" alt="100% Natural">
                </div>
                <div class="col-lg-6">
                            <a href="#" class="text-decoration-none text-reset">
                                <h3 class="header">Eggs with Bacon and Salad</h3> 
                            </a>
                            <div class="mb-3">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </div>
                            <div class="mb-3 nutritionFacts">
                                <div class="item">Energy: <span>498 kkal</span></div>
                                <div class="item">Protein: <span>26 g</span></div>
                                <div class="item">Fat: <span>8 g</span></div>
                                <div class="item">Carbohydrates: <span>49 g</span></div>
                            </div> 
                            <span class="price">
                                    <span class="Currency">$</span>7.99
                            </span> 
                            <span class="mx-3">
                                <a href="#" class="btn-lg btn btn-second text-decoration-none">Add to cart<span></span></a>
                            </span>
                            <span class="mx-3">
                                <a href="#" class="btn-lg btn text-decoration-none btn-first">Read more<span></span></a>
                            </span>
                </div>
            </div>
        </div>
    </section>



    <script src="main.js"></script>
</body>
</html>