<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <div class="container py-5">
            <div class="text-page">
                <div class="row ">
                    <div class="col-12">
                        <table style="height: 728px;" width="713">
                            <thead>
                                <tr style="background-color: #292D35;">
                                    <th style="text-align: center;">Header 1</th>
                                    <th style="text-align: center;">Table header 2</th>
                                    <th style="text-align: center;">Table header 3</th>
                                    <th style="text-align: center;">Table header 4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Today’s event</strong>
                                        <p></p>
                                        <p>Couch: <strong>Alexander Morgan</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Tomorrow</strong>
                                        <p></p>
                                        <p>Couch: <strong>Lora Capton</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Next week</strong>
                                        <p></p>
                                        <p>Couch: <strong>Michael Cooper</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Every day meet</strong>
                                        <p></p>
                                        <p>Couch: <strong>Katty Whystone</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Today’s event</strong>
                                        <p></p>
                                        <p>Couch: <strong>Alexander Morgan</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Tomorrow</strong>
                                        <p></p>
                                        <p>Couch: <strong>Lora Capton</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Next week</strong>
                                        <p></p>
                                        <p>Couch: <strong>Michael Cooper</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Every day meet</strong>
                                        <p></p>
                                        <p>Couch: <strong>Katty Whystone</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Today’s event</strong>
                                        <p></p>
                                        <p>Couch: <strong>Alexander Morgan</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Tomorrow</strong>
                                        <p></p>
                                        <p>Couch: <strong>Lora Capton</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Next week</strong>
                                        <p></p>
                                        <p>Couch: <strong>Michael Cooper</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Every day meet</strong>
                                        <p></p>
                                        <p>Couch: <strong>Katty Whystone</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Today’s event</strong>
                                        <p></p>
                                        <p>Couch: <strong>Alexander Morgan</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Tomorrow</strong>
                                        <p></p>
                                        <p>Couch: <strong>Lora Capton</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Next week</strong>
                                        <p></p>
                                        <p>Couch: <strong>Michael Cooper</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                    <td><strong>Every day meet</strong>
                                        <p></p>
                                        <p>Couch: <strong>Katty Whystone</strong></p>
                                        <p>12:00 – 18:00</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="main.js"></script>
</body>

</html>