<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/all.min.css">
    <link rel="stylesheet" href="./style/style.css">
</head>
    <body>
        <section class="woocommerce-cart" style="margin: 20px 0px;">
                <div class="container">
                        <div class="row centered">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 text-page">
                                <div class="woocommerce">
                                    <form>
                                        <table
                                            class="shop_table shop_table_responsive cart woocommerce-cart-form__contents">
                                            <thead>
                                                        <tr>
                                                            <th>&nbsp;</th>
                                                            <th>&nbsp;</th>
                                                            <th>Product</th>
                                                            <th>Price</th>
                                                            <th>Quantity</th>
                                                            <th>Total</th>
                                                        </tr>
                                            </thead>
                                            <tbody>
                                                        <tr class="woocommerce-cart-form__cart-item cart_item">
                                                            <td class="product-remove"> 
                                                                <a href="" class="remove">×</a>
                                                            </td>
                                                            <td class="product-thumbnail"> 
                                                                <a href="">
                                                                    <img width="360" height="360" src="./img/dish_03-1-360x360.jpg" alt="">
                                                                </a>
                                                            </td>
                                                            <td class="product-name" data-title="Product"> 
                                                                <a href="">Salad with Mozarella</a>
                                                            </td>
                                                            <td class="product-price" data-title="Price"> 
                                                                <span><span>$</span>8.99</span>
                                                            </td>
                                                            <td class="product-quantity" data-title="Quantity">
                                                                <div class="quantity"> 
                                                                    <label class="screen-reader-text">Salad with Mozarella quantity</label> 
                                                                        <input type="number" readonly value="1" >
                                                                        <span class="more"></span>
                                                                        <span class="less"></span>
                                                                </div>
                                                            </td>
                                                            <td class="product-subtotal" data-title="Total"> 
                                                                <span><span>$</span>8.99</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" class="actions">
                                                                <div class="coupon"> 
                                                                    <label for="coupon_code">Coupon:</label>
                                                                        <input type="text" class="input-text" id="coupon_code" value="" placeholder="Coupon code">
                                                                    <span>
                                                                        <button
                                                                            type="submit" style="cursor: pointer;"
                                                                            class="btn btn-xs btn-second color-hover-main" value="Apply coupon">Apply coupon
                                                                            <span></span>
                                                                        </button>
                                                                    </span>
                                                                </div> 
                                                                <span>
                                                                    <button type="submit"
                                                                        class="btn btn-xs btn-second" name="update_cart" value="Update cart" disabled
                                                                        style="width: 106px; font-size: 12px;">Update cart
                                                                        <span></span>
                                                                    </button>
                                                                </span> 
                                                            </td>
                                                        </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <div class="cart-collaterals">
                                                <div class="cart_totals">
                                                    <h2>Cart totals</h2>
                                                    <table class="shop_table_responsive">
                                                        <tbody>
                                                            <tr class="cart-subtotal">
                                                                <th>Subtotal</th>
                                                                <td data-title="Subtotal">
                                                                    <span class="amount"><span>$</span>8.99</span>
                                                                </td>
                                                            </tr>
                                                            <tr class="woocommerce-shipping-totals shipping">
                                                                <th>Shipping</th>
                                                                <td data-title="Shipping">
                                                                    <ul id="shipping_method"
                                                                        class="woocommerce-shipping-methods">
                                                                        <li><label>Flat rate</label></li>
                                                                    </ul>
                                                                    <p class="woocommerce-shipping-destination"> Shipping to
                                                                        <strong>Egypt</strong>
                                                                    </p>
                                                                    <form class="woocommerce-shipping-calculator"> 
                                                                        <a href="" class="shipping-calculator-button">Change address</a>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Total</th>
                                                                <td data-title="Total">
                                                                    <strong>
                                                                        <span>
                                                                            <span>$</span>8.99
                                                                        </span>
                                                                    </strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="wc-proceed-to-checkout" style="margin-top: 20px;"> 
                                                        <span>
                                                            <a href="" class="checkout-button btn btn-second btn-main btn-xs">
                                                                Proceed to checkout
                                                                <span></span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </section>
    </body>
</html>