<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>FitMeal</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/all.min.css">

</head>

<body>
    <div class="woocommerce">
        <div class="container">
            <div class="inner-page margin-default">
                <div class="row" style="display: block;">
                    <div class="col-xl-9 col-xl-push-3 col-lg-8 col-lg-push-4 col-md-12">
                        <div class="ltx-wc-order">
                            <p class="woocommerce-result-count"> Showing 1–6 of 25 results</p>
                            <form class="woocommerce-ordering">
                                <div class="select-wrap">
                                    <select name="orderby" class="orderby" aria-label="Shop order" style="outline: none;">
                                        <option value="menu_order" selected="selected">Default sorting</option>
                                        <option value="popularity">Sort by popularity</option>
                                        <option value="rating">Sort by average rating</option>
                                        <option value="date">Sort by latest</option>
                                        <option value="price">Sort by price: low to high</option>
                                        <option value="price-desc">Sort by price: high to low</option>
                                    </select>
                                </div> 
                                <input type="hidden" name="paged" value="1">
                            </form>
                        </div>
                        <ul class="products">
                            <li class="product">
                                <div>
                                    <div> 
                                        <a href="">
                                            <img width="360" height="360"
                                                src="./img/dish_03-1-360x360.jpg"
                                                alt="" sizes="(max-width: 360px) 100vw, 360px">
                                        </a>
                                    </div>
                                    <div>
                                        <a href="">
                                            <h2 class="woocommerce-loop-product__title">Salad with Mozarella</h2>
                                        </a>
                                        <div>
                                            Sed ut perspiciatis unde omnis iste
                                            natus error ...
                                        </div> 
                                        <span class="price">
                                            <span class="woocommerce-Price-amount">
                                                <span>$</span>
                                                8.99
                                            </span>
                                        </span>
                                        <span class="ltx-btn-wrap">
                                            <a href="" data-quantity="1" class="btn btn-second">Add
                                                to cart<span></span>
                                            </a>
                                        </span>
                                        <span class="ltx-btn-wrap">
                                            <a href="" class="btn btn-xs btn-transparent color-main">
                                                Readmore<span></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="item">
                                    <div class="image"> <a href=""><img width="360" height="360"
                                                src="./img/dish_01-1-360x360.jpg"
                                                class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                alt="" sizes="(max-width: 360px) 100vw, 360px"></a></div>
                                    <div class="ltx-item-descr"><a href="">
                                            <h2 class="woocommerce-loop-product__title">Eggs with Bacon and Salad</h2>
                                        </a>
                                        <div class="post_content entry-content">Sed ut perspiciatis unde omnis iste
                                            natus error ...</div> <span class="price"><span
                                                class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">$</span>7.99</span></span>
                                        <span class="ltx-btn-wrap"><a href="" data-quantity="1"
                                                class="product_type_simple add_to_cart_button ajax_add_to_cart btn btn-second"
                                                data-product_id="9247" data-product_sku=""
                                                aria-label="Add “Eggs with Bacon and Salad” to your cart"
                                                rel="nofollow">Add to cart<span></span></a></span><span
                                            class="ltx-btn-wrap"><a href=""
                                                class="ltx-btn-more btn btn-xs btn-transparent color-main">Read
                                                more<span></span></a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="item">
                                    <div class="image"> <a href=""><img width="360" height="360"
                                                src="./img/dish_02-1-360x360.jpg"
                                                class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                alt="" sizes="(max-width: 360px) 100vw, 360px"></a></div>
                                    <div class="ltx-item-descr"><a href="">
                                            <h2 class="woocommerce-loop-product__title">Salmon with Vegetables</h2>
                                        </a>
                                        <div class="post_content entry-content">Nullam laoreet arcu eu massa euismod,
                                            quis dictum ...</div> <span class="price"><span
                                                class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">$</span>12.49</span></span>
                                        <span class="ltx-btn-wrap"><a href="" data-quantity="1"
                                                class="product_type_simple add_to_cart_button ajax_add_to_cart btn btn-second"
                                                data-product_id="9246" data-product_sku=""
                                                aria-label="Add “Salmon with Vegetables” to your cart"
                                                rel="nofollow">Add to cart<span></span></a></span><span
                                            class="ltx-btn-wrap"><a href=""
                                                class="ltx-btn-more btn btn-xs btn-transparent color-main">Read
                                                more<span></span></a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="item">
                                    <div class="image"> <a href=""><img width="360" height="360"
                                                src="./img/dish_04-1-360x360.jpg"
                                                class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                alt="" sizes="(max-width: 360px) 100vw, 360px"></a></div>
                                    <div class="ltx-item-descr"><a href="">
                                            <h2 class="woocommerce-loop-product__title">Red beetroot soup</h2>
                                        </a>
                                        <div class="post_content entry-content">Sed ut perspiciatis unde omnis iste
                                            natus error ...</div> <span class="price"><span
                                                class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">$</span>7.49</span></span>
                                        <span class="ltx-btn-wrap"><a href="" data-quantity="1"
                                                class="product_type_simple add_to_cart_button ajax_add_to_cart btn btn-second"
                                                data-product_id="8069" data-product_sku=""
                                                aria-label="Add “Red beetroot soup” to your cart" rel="nofollow">Add to
                                                cart<span></span></a></span><span class="ltx-btn-wrap"><a href=""
                                                class="ltx-btn-more btn btn-xs btn-transparent color-main">Read
                                                more<span></span></a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="item">
                                    <div class="image"> <a href=""><img width="360" height="360"
                                                src="./img/dish_05-1-360x360.jpg"
                                                class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                alt="" sizes="(max-width: 360px) 100vw, 360px"></a></div>
                                    <div class="ltx-item-descr"><a href="">
                                            <h2 class="woocommerce-loop-product__title">Steaks with Asparagus</h2>
                                        </a>
                                        <div class="post_content entry-content">Sed ut perspiciatis unde omnis iste
                                            natus error ...</div> <span class="price"><span
                                                class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">$</span>10.00</span></span>
                                        <span class="ltx-btn-wrap"><a href="" data-quantity="1"
                                                class="product_type_simple add_to_cart_button ajax_add_to_cart btn btn-second"
                                                data-product_id="8070" data-product_sku=""
                                                aria-label="Add “Steaks with Asparagus” to your cart" rel="nofollow">Add
                                                to cart<span></span></a></span><span class="ltx-btn-wrap"><a href=""
                                                class="ltx-btn-more btn btn-xs btn-transparent color-main">Read
                                                more<span></span></a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="item">
                                    <div class="image"> <a href=""><img width="360" height="360"
                                                src="./img/dish_07-1-360x360.jpg"
                                                class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                alt="" sizes="(max-width: 360px) 100vw, 360px"></a></div>
                                    <div class="ltx-item-descr"><a href="">
                                            <h2 class="woocommerce-loop-product__title">Chicken with Vegetables</h2>
                                        </a>
                                        <div class="post_content entry-content">Sed ut perspiciatis unde omnis iste
                                            natus error ...</div> <span class="price"><span
                                                class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">$</span>12.99</span></span>
                                        <span class="ltx-btn-wrap"><a href="" data-quantity="1"
                                                class="product_type_simple add_to_cart_button ajax_add_to_cart btn btn-second"
                                                data-product_id="8072" data-product_sku=""
                                                aria-label="Add “Chicken with Vegetables” to your cart"
                                                rel="nofollow">Add to cart<span></span></a></span><span
                                            class="ltx-btn-wrap"><a href=""
                                                class="ltx-btn-more btn btn-xs btn-transparent color-main">Read
                                                more<span></span></a></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <nav class="woocommerce-pagination">
                            <ul>
                                <li><span aria-current="page" class="page-numbers current">1</span></li>
                                <li><a class="page-numbers" href="">2</a>
                                </li>
                                <li><a class="page-numbers" href="">3</a>
                                </li>
                                <li><a class="page-numbers" href="">4</a>
                                </li>
                                <li><a class="page-numbers" href="">5</a>
                                </li>
                                <li><a class="next page-numbers" href="">→</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-xl-pull-9 col-lg-4 col-lg-pull-8 col-md-12 div-sidebar">
                        <div class="widget-area">
                            <aside class="widget widget_product_search">
                                <form role="search" class="woocommerce-product-search"> 
                                    <input type="search"  placeholder="Search products…" value="" >
                                    <button type="submit" value="Search" class="">Search</button>
                                </form>
                            </aside>
                            <aside>
                                <h3 class="header-widget">
                                    Shopping Cart
                                </h3>
                                <div>
                                    <p>No products in the cart.</p>
                                </div>
                            </aside>
                            <aside class="widget woocommerce widget_product_categories">
                                <h3 class="header-widget">
                                    Categories
                                </h3>
                                <ul>
                                    <li>
                                        <a href="">Dishes</a>
                                    </li>
                                    <li>
                                        <a href="">Drinks</a>
                                    </li>
                                    <li>
                                        <a href="">Fresh Fruits</a>
                                    </li>
                                    <li>
                                        <a href="">Healthy food</a>
                                    </li>
                                    <li>
                                        <a href="">Nutrition</a>
                                    </li>
                                    <li>
                                        <a href="">Nuts and Greens</a>
                                    </li>
                                    <li>
                                        <a href="">Organic Berries</a>
                                    </li>
                                    <li>
                                        <a href="">Smoothies</a>
                                    </li>
                                    <li>
                                        <a href="">Uncategorized</a>
                                    </li>
                                    <li>
                                        <a href="">Vegetables</a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="widget_product_tag_cloud">
                                <h3 class="header-widget">
                                    Product tags
                                </h3>
                                <div>
                                    <a href="" style="font-size: 8pt;">nutrition</a>
                                    <a href="" style="font-size: 8pt;">slimming</a>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>