<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <div class="container py-5">
            <div class="row mx-0 raduis shadow2">
                <div class="col-lg-4 py-5 ">
                    <div class="row px-4">
                        <div class="col-xl-3 col-lg-4 col-2">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="./icons/scooter.png" style="margin-right: 20px;" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-10">
                            <div>
                                <h5 class="h5-header">Free delivery service</h5>
                                <p class="descr">Nam malesuada eros nec luctus laoreet. Fusce sodales consequat</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 bg-main py-5 shadow2">
                    <div class="row px-4">
                        <div class="col-xl-3 col-lg-4 col-2">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="./icons/mobile-payment.png" style="margin-right: 20px;" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-10">
                            <div>
                                <h5 class="h5-header text-white">Easy payments</h5>
                                <p class="descr">Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 bg-dark2 py-5 calcCalories shadow2">
                    <div class="row px-4">
                        <div class="col-xl-3 col-lg-4 col-2">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="./icons/calories.png" style="margin-right: 20px;" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-10">
                            <div>
                                <h5 class="h5-header text-white">Exact calories</h5>
                                <p class="descr text-white">Nam malesuada eros nec luctus laoreet. Fusce sodales consequat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="main.js"></script>
</body>
</html>