<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section id="menuCards">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="item" style="background-image: url('./imgs/1.png');">
                <a href="" class="header">
                    <h5 class="header">Office menu</h5> 
                </a>
                <p> 1200-1600 kkal</p> 
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-second">Get more<span></span></a>
                </span>
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-transparent">Read more<span></span></a>
                </span>
            </div>

            <div class="item" style="background-image: url('./imgs/2.png');">
                <a href="" class="header">
                    <h5 class="header">Office menu</h5> 
                </a>
                <p> 1200-1600 kkal</p> 
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-second">Get more<span></span></a>
                </span>
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-transparent">Read more<span></span></a>
                </span>
            </div>

            <div class="item" style="background-image: url('./imgs/3.png');">
                <a href="" class="header">
                    <h5 class="header">Office menu</h5> 
                </a>
                <p> 1200-1600 kkal</p> 
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-second">Get more<span></span></a>
                </span>
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-transparent">Read more<span></span></a>
                </span>
            </div>

            <div class="item" style="background-image: url('./imgs/4.png');">
                <a href="" class="header">
                    <h5 class="header">Office menu</h5> 
                </a>
                <p> 1200-1600 kkal</p> 
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-second">Get more<span></span></a>
                </span>
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-transparent">Read more<span></span></a>
                </span>
            </div>

            <div class="item" style="background-image: url('./imgs/5.png');">
                <a href="" class="header">
                    <h5 class="header">Office menu</h5> 
                </a>
                <p> 1200-1600 kkal</p> 
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-second">Get more<span></span></a>
                </span>
                <span class="ltx-btn-wrap">
                    <a href="/menu/slimming-menu/" class="btn btn-lg btn-transparent">Read more<span></span></a>
                </span>
            </div>
        </div>
    </div>
</section>

<script src="../../js/jquery-3.5.1.min.js"></script>
<script src="../../js/owl.carousel.min.js"></script>
<script src="main.js"></script>
</body>
</html>